/configure
/dmd.info
/stamp-vti
/version.texi
/config.cache
/config.log
/config.scm
/config.status
/deco
/dmd
/examples/Makefile
/utils/Makefile
/autom4te.cache
/build-aux/*
Makefile.in
Makefile
*~
,*
/missing
/texinfo.tex
/INSTALL
/aclocal.m4
*.go
/modules/dmd/config.scm
/dmd.aux
/dmd.cp
/dmd.cps
/dmd.fn
/dmd.fns
/dmd.ky
/dmd.log
/dmd.pg
/dmd.toc
/dmd.tp
/dmd.tps
/dmd.vr
/dmd.vrs
/modules/dmd/system.scm
/halt
/reboot
/dmd.pdf
