*.go
*~
,*
.dirstamp
/INSTALL
/aclocal.m4
/autom4te.cache
/build-aux/*
/config.cache
/config.log
/config.scm
/config.status
/configure
/doc/*.1
/doc/*.8
/doc/shepherd.info
/doc/stamp-vti
/doc/version.texi
/examples/Makefile
/halt
/herd
/missing
/modules/shepherd/config.scm
/modules/shepherd/system.scm
/reboot
/shepherd
/shepherd.aux
/shepherd.cp
/shepherd.cps
/shepherd.fn
/shepherd.fns
/shepherd.ky
/shepherd.log
/shepherd.pdf
/shepherd.pg
/shepherd.toc
/shepherd.tp
/shepherd.tps
/shepherd.vr
/shepherd.vrs
/test-suite.log
/tests/*.log
/tests/*.trs
/texinfo.tex
Makefile
Makefile.in
/tests/respawn-throttling.log
/tests/respawn-throttling.trs
/tests/pid-file.log
/po/ChangeLog
/po/Makefile.in.in
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/shepherd.pot
/po/stamp-po
/po/*.mo
/doc/shepherd.aux
/doc/shepherd.cp
/doc/shepherd.cps
/doc/shepherd.fn
/doc/shepherd.fns
/doc/shepherd.ky
/doc/shepherd.log
/doc/shepherd.pg
/doc/shepherd.toc
/doc/shepherd.tp
/doc/shepherd.tps
/doc/shepherd.vr
/doc/shepherd.vrs
