/configure
/dmd.info
/stamp-vti
/version.texi
/config.cache
/config.log
/config.scm
/config.status
/deco
/dmd
/examples/Makefile
/utils/Makefile
/autom4te.cache
/build-aux/*
Makefile.in
Makefile
*~
,*
/missing
/texinfo.tex
/INSTALL
/aclocal.m4
